@media (max-width: 1020px) {
    .my_work .projects {
        justify-content: center;
        gap: 40px;
    }

}
 
@media (max-width: 990px) {
    .about .text_block .icons {
        margin-top: 65px;
    }

    .footer .photo {
        max-width: 500px;
    }
}

@media (max-width: 890px) {
    .footer .photo {
        max-width: 420px;
        height: 300px;
    }
}   

@media (max-width: 810px) {
    .about .photo {
        max-width: 350px;
        max-height: 350px;
    }

    .about .h1 {
        top: 60px;
        left: 350px;
    }

    .about .text_block::before {
        content: '';
        display: block;
        width: 140px;
        height: 210px;
        float: left;
        shape-outside: margin-box;
    }

    .about .text_block {
        position: absolute;
        height: 300px;
        max-width: 450px;
        z-index: -2;
        left: 250px;
        top: 100px;
        margin-bottom: 50px;
    }

    .about .text_block .h2 {
        text-align: center;
    }

    .about .text_block .icons {
        display: none;
    }

    .footer .container .text_block {
        font-size: 14px;
    }

    .my_work {
        margin-top: 50px;
    }
}  

@media (max-width: 725px) {
    .about .h1 {
        font-size: 40px;
    }

    .footer .photo {
        max-width: 360px;
        max-height: 240px;
    }

    .footer .container .text_block .contacts {
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    .background {
        height: 500px;
    }

    .about {
        flex-wrap: wrap;
    }

    .about .h1 {
        top: 300px;
        left: 180px;
        font-size: 46px;
    }

    .about .photo {
        margin: 0 auto;
    }

    .about .text_block::before {
        display: none;
    }

    .about .text_block {
        left: 0;
        top: 0;
        position: relative;
        z-index: 0;
        margin: 0 auto;
        box-shadow: none;
        max-height: 200px;
    }

    .my_work {
        margin-top: 15px;
    }

    .my_work .h2 {
        text-align: center;
    }

    .footer .container .text_block {
        max-width: 180px;
    }

    .footer .photo {
        max-width: 390px;
        height: 270px;
    }
}

@media (max-width: 679px) {
    .footer .container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer .container .text_block {
        max-width: 75%;
        font-size: 16px;
    }

    .footer .container .text_block .contacts {
        font-size: 16px;
    }

    .footer .container .text_block .icons {
        justify-content: center;
    }
}

@media (max-width: 650px) {
    .about .h1 {
        font-size: 42px;
    }
}

@media (max-width: 600px) {
    .about .h1 {
        font-size: 38px;
    }
}

@media (max-width: 550px) {
    .about .h1 {
        left: 140px;
    }
}

@media (max-width: 480px) {
    .about .h1 {
        left: 120px;
    }

    .footer .container .text_block .contacts {
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    .about .h1 {
        left: 90px;
    }
}

@media (max-width: 420px) {
    .background {
        height: 400px;
    }
    .about .photo {
        max-width: 105%;
    }

    .about .text_block .descr {
        font-size: 16px;
    }

    .about .h1 {
        left: 80px;
    }
}

@media (max-width: 400px) {
    .about .h1 {
        font-size: 36px;
    }
}

@media (max-width: 382px) {
    .about .h1 {
        top: 290px;
    }
}

@media (max-width: 370px) {
    .about .h1 {
        top: 280px;
        left: 70px;
    }

    .about .text_block .descr {
        font-size: 14px;
    }

    .footer .photo {
        max-width: 360px;
        height: 240px;
    }
}

@media (max-width: 360px) {
    .about .h1 {
        top: 270px;
        left: 60px;
    }

    .footer .photo {
        max-width: 351px;
        height: 234px;
    }
}